* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: hsl(223, 19%, 93%);
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 526;
  font-style: normal;
  overflow-x: hidden;
}

.unpadded-comment {
  width: 100%;
}

.comment-container {
  max-width: 1440px;
  width: 870px;
  padding-left: 1%;
  height: auto;
}

ul {
  list-style: none;
  margin-bottom: 20px;
}

.comment-contents {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  width: 860px;
  height: 180px;
  background-color: hsl(0, 100%, 100%);
  border-radius: 10px;
}

/* when user is editing replys */
.send-section {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  width: 860px;
  height: 180px;
  background-color: hsl(0, 100%, 100%);
  border-radius: 10px;
}

.reply-section {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  width: 860px;
  height: 180px;
  background-color: hsl(0, 100%, 100%);
  border-radius: 10px;
}

.comment-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  width: 763px;
  min-height: 180px;
  height: auto;
  background-color: hsl(0, 100%, 100%);
  border-radius: 10px;
}

.reply-block {
  display: flex;
  max-width: 1440px;
  margin-top: 20px;
  margin-left: 55px;
}

.vertical-line {
  border: 1px solid gray;
  width: 2px;
  background-color: hsl(223, 19%, 93%);
  height: auto;
}

.replies-list {
  width: 100%;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.replies-list li {
  margin-left: 40px;
}

.first-score-icons {
  margin-top: 30px;
  margin-left: 29px;
  border-radius: 15px;
  height: 110px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: hsl(223, 19%, 93%);
  /* cursor: pointer; */
}

.plus-icon {
  cursor: pointer;
}

.minus {
  cursor: pointer;
}

.number {
  color: hsl(238, 40%, 52%);
}

.second-contents-heading {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 88%;
  gap: 15px;
}

.content-header {
  display: flex;
  align-items: center;
  width: 700px;
  gap: 15px;
}

.user-avatar {
  width: 40px;
}

/* user img for when they are typing replies */
.user-reply-avatar {
  width: 60px;
  height: 60px;
  margin-bottom: 70px;
}

.user-card-reply-avatar {
   width: 50px;
  height: 50px;
  margin-bottom: 79px;
  margin-left: 23px;
}

.user-name {
  color: hsl(206, 5%, 29%);
}

time {
  color: rgb(126, 126, 134);
}
.content-user-heading {
  display: flex;
  justify-content: space-between;
  width: 730px;
}

.reply-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reply-text {
  color: hsl(238, 40%, 52%);
  padding: 7px;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 526;
  border: none;
  background: transparent;
  cursor: pointer;
}

.reply-text:hover {
  opacity: 0.4;
  
}

.delete-text {
  color: hsl(238, 40%, 52%);
  padding: 7px;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 526;
  border: none;
  background: transparent;
  cursor: pointer;
}

.delete-text:hover {
  opacity: 0.4;
}

.send-btn {
  color: hsl(238, 100%, 95%);
  padding: 13px;
  margin-bottom: 80px;
  width: 100px;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 526;
  border: none;
  border-radius: 5px;
  background: hsl(238, 40%, 52%);
  cursor: pointer;
}

.send-btn:hover {
  opacity: 0.4;
}

.current-reply-btn {
  color: hsl(238, 100%, 95%);
  padding: 13px;
  margin-bottom: 80px;
  width: 100px;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 526;
  border: none;
  border-radius: 5px;
  background: hsl(238, 40%, 52%);
  cursor: pointer;
}

.current-reply-btn:hover {
  opacity: 0.4;
}

.send-card-btn {
  color: hsl(238, 100%, 95%);
  padding: 15px;
  margin-bottom: 80px;
  margin-right: 22px;
  width: 80px;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 526;
  border: none;
  border-radius: 5px;
  background: hsl(238, 40%, 52%);
  cursor: pointer;
}

.current-reply-card-btn {
  color: hsl(238, 100%, 95%);
  padding: 15px;
  margin-bottom: 80px;
  margin-right: 22px;
  width: 80px;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 526;
  border: none;
  border-radius: 5px;
  background: hsl(238, 40%, 52%);
  cursor: pointer;
}

.current-reply-card-btn:hover {
  opacity: 0.4;
}

.comment-text {
  width: 670px;
  height: auto;
  color: rgb(126, 126, 134);
  line-height: 1.5;
}

#text-section {
  width: 580px;
  height: 130px;
  border-radius: 10px;
  padding: 10px;
  color: rgb(126, 126, 134);
  font-size: 18px;
  font-weight: 576;
  font-family: "Rubik", sans-serif;
  resize: none;
}

#text-card-section {
   width: 632px;
  height: 130px;
  border-radius: 10px;
  padding: 10px;
  color: rgb(126, 126, 134);
  font-size: 18px;
  font-weight: 576;
  font-family: "Rubik", sans-serif;
  resize: none;
}

.comment-card-text {
  width: 600px;
  height: auto;
  color: rgb(126, 126, 134);
  line-height: 1.5;
}

.update-btn {
  color: hsl(238, 100%, 95%);
  padding: 15px;
  margin-bottom: 25px;
  margin-right: 22px;
  width: 95px;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 526;
  border: none;
  border-radius: 5px;
  background: hsl(238, 40%, 52%);
  cursor: pointer;
}

.update-btn:hover {
  opacity: 0.4;
}

.content-user-card-heading {
  display: flex;
  width: 632px;
  gap: 10px;
}

.reply-card-btn {
  display: flex;
  align-items: center;
}

.reply-section-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.delete-btn {
  display: flex;
  align-items: center;

}

.edit-text {
  color: hsl(238, 40%, 52%);
  padding: 7px;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 526;
  border: none;
  background: transparent;
  cursor: pointer;
}

.edit-text:hover {
  opacity: 0.4;
}

.edit-card-btn {
  display: flex;
  align-items: center;
}

.updateBtn {
  display: flex;
  justify-content: end;
}